body {
    background-color: aquamarine;
}

.task-list {
    color: black;
    text-decoration: none;
}
.task-list:hover{
    text-decoration: none;
}

#lg {
    background-image: url("images/bgli.png");
}
#lg h1{
    color:aqua;
}
#avtimg {
    border-radius: 10px;
}
#avtimg:hover {
    box-shadow: 4px 8px 8px 8px rgba(0,0,0,0.3);
}
#namenv {
    color: black;
}
a#namenv:hover{
    color: white;
}
.task-item:hover {
    color: blueviolet;
}
.st:hover{
    background-color:aqua;
}
#type {
   color: rgb(255, 235, 8);
}

body#list-room   {
    padding-top: 50px;
}

body#list-room table {
    width: 80%;
    text-align: center;
}

body#list-room td {
    padding: 10px;
}

body#list-room tr.item{
    border-top: 1px solid #5e5e5e;
    border-bottom: 1px solid #5e5e5e;
}

body#list-room tr.item:hover{
    background-color: #d9edf7;
}

body#list-room tr.item td{
    min-width: 150px;
}

body#list-room tr.header{
    font-weight: bold;
}

body#list-room a{
    text-decoration: none;
}

body#list-room a:hover{
    color: deeppink;
    font-weight: bold;
}

body#list-room td img {
    max-height: 100px;
}
/* ///////////////// */
